# Analysing and Visualising #

## 1. Preparing the analysing enviroment ##
### importing packages and data ###

In [9]:
import pandas as pd
import requests
import os as os
import json 
import tweepy
from timeit import default_timer as timer
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df=pd.read_csv("twitter_archive_master.csv",index_col=0,
               dtype = {'tweet_id': str})

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066 entries, 0 to 2065
Data columns (total 22 columns):
tweet_id              2066 non-null object
timestamp             2066 non-null object
source                2066 non-null object
text                  2066 non-null object
expanded_urls         2066 non-null object
rating_numerator      2066 non-null float64
rating_denominator    2066 non-null float64
name                  2066 non-null object
stage                 2066 non-null object
favorite_count        2066 non-null int64
retweet_count         2066 non-null int64
jpg_url               2066 non-null object
img_num               2066 non-null int64
p1                    2066 non-null object
p1_conf               2066 non-null float64
p1_dog                2066 non-null bool
p2                    2066 non-null object
p2_conf               2066 non-null float64
p2_dog                2066 non-null bool
p3                    2066 non-null object
p3_conf               2066 non-null float64
p3_dog                2066 non-null bool
dtypes: bool(3), float64(5), int64(3), object(11)
memory usage: 328.9+ KB

In [12]:
df["timestamp"]=pd.to_datetime(df.timestamp)

In [13]:
df.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,favorite_count,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweetid,,,,,,,,,,,,,,,,,,,,,
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10.0,Phineas,None,37731,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10.0,Tilly,None,32404,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10.0,Archie,None,24401,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10.0,Darla,None,41040,...,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10.0,Franklin,None,39238,...,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

In [18]:
df.describe()

,rating_numerator,rating_denominator,favorite_count,retweet_count,img_num,p1_conf,p2_conf,p3_conf
count,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2066.000000,2.066000e+03,2.066000e+03
mean,12.221578,10.513553,8332.854792,2772.818490,1.203291,0.594568,1.346716e-01,6.034151e-02
std,40.742699,7.192615,12562.080796,4830.478374,0.562172,0.271062,1.007233e-01,5.094272e-02
min,0.000000,2.000000,0.000000,11.000000,1.000000,0.044333,1.011300e-08,1.740170e-10
25%,10.000000,10.000000,1584.500000,591.000000,1.000000,0.364254,5.387868e-02,1.621080e-02
50%,11.000000,10.000000,3664.500000,1305.000000,1.000000,0.588030,1.184015e-01,4.939645e-02
75%,12.000000,10.000000,10408.500000,3199.500000,1.000000,0.843883,1.955693e-01,9.208967e-02
max,1776.000000,170.000000,162830.000000,82862.000000,4.000000,1.000000,4.880140e-01,2.734190e-01

# Brief Insigts #

## scatter matrix#

we are using this type of plotting to get a fast over view and insigt about our data set if there is any patter or some further data cleaning to be done

In [25]:
df.groupby("stage").mean()

,rating_numerator,rating_denominator,favorite_count,retweet_count,img_num,p1_conf,p1_dog,p2_conf,p2_dog,p3_conf,p3_dog
stage,,,,,,,,,,,
None,12.427799,10.608023,7913.383954,2562.620630,1.191404,0.591132,0.738682,0.134372,0.746132,0.061148,0.722636
doggo,11.970149,10.000000,18727.641791,7708.029851,1.313433,0.581910,0.761194,0.159575,0.776119,0.060745,0.701493
"doggo,floofer",11.000000,10.000000,16429.000000,3237.000000,1.000000,0.354733,1.000000,0.177538,1.000000,0.131706,1.000000
"doggo,pupper",11.181818,10.000000,10563.636364,5149.909091,1.090909,0.844620,0.909091,0.076483,0.818182,0.026425,0.636364
"doggo,puppo",13.000000,10.000000,45876.000000,18117.000000,1.000000,0.321676,1.000000,0.115138,1.000000,0.096100,1.000000
floofer,12.000000,10.000000,12563.000000,4638.428571,1.142857,0.609204,1.000000,0.155319,1.000000,0.047997,0.857143
pupper,10.683744,10.000000,6683.094787,2312.976303,1.251185,0.602090,0.701422,0.130868,0.725118,0.057050,0.696682
puppo,12.000000,10.000000,20673.565217,6170.521739,1.434783,0.721344,0.826087,0.140264,0.913043,0.043497,0.956522